<html>
      <body>
            <div class="jumbotron text-center">
              <h1>Sis' Make Up </h1>
              <p>Provoquez votre créativité avec le maquillage Sis' Make Up . 
                    Professionnel chevronné ou novice fan de beauté, Sis' Make Up réveille le makeup artist qui sommeille en vous.
                     À travers des couleurs vibrantes et des produits devenus iconiques, Sis' Make Up  offre à toutes les beautés, l'art unique de se révéler. 
                     Makeup nude ou maquillage sophistiqué, toute l'audace et l'originalité de votre personnalité prend vie</p> 
            </div>
            <img class="img1" [src]=img1 alt="mac"/>
                <article>
                        <div class="row">
                                <div class="col-sm-4">
                                        <div>
                                                <div class="hovereffect">
                                                   <img class="img" [src]=img alt="mac"/>
                                              <div class="overlay">
                                               <p>Le système solaire externe : 
                                              Jupiter, les satellites de Jupiter, Io, Europe, Ganymede, Callisto, la mission Juno,
                                              Saturne, les satellites de Saturne, Encelade, Titan, Uranus, Neptune, Triton, Pluton, 
                                              Charon, la mission New Horizons, les objets transneptuniens,
                                              les comètes, la mission Rosetta, la ceinture de Kuiper, le nuage d’Oort…
                                              </p>
                                                 </div>
                                                </div>
                                            </div>
                                </div>
                                <div class="col-sm-4">
                                        <div>
                                                <div class="hovereffect">
                                                   <img class="img" [src]=img2 alt="mac"/>
                                              <div class="overlay">
                                               <p>Le système solaire externe : 
                                              Jupiter, les satellites de Jupiter, Io, Europe, Ganymede, Callisto, la mission Juno,
                                              Saturne, les satellites de Saturne, Encelade, Titan, Uranus, Neptune, Triton, Pluton, 
                                              Charon, la mission New Horizons, les objets transneptuniens,
                                              les comètes, la mission Rosetta, la ceinture de Kuiper, le nuage d’Oort…
                                              </p>
                                              </div>
                                                </div>
                                            </div>
                                </div>
                                <div class="col-sm-4">
                                        <div>
                                                <div class="hovereffect">
                                                   <img class="img" [src]=img3 alt="mac"/>
                                              <div class="overlay">
                                               <p>Le système solaire externe : 
                                              Jupiter, les satellites de Jupiter, Io, Europe, Ganymede, Callisto, la mission Juno,
                                              Saturne, les satellites de Saturne, Encelade, Titan, Uranus, Neptune, Triton, Pluton, 
                                              Charon, la mission New Horizons, les objets transneptuniens,
                                              les comètes, la mission Rosetta, la ceinture de Kuiper, le nuage d’Oort…
                                              </p>
                                              </div>
                                                </div>
                                            </div>
                                </div>
                              </div>




                </article>

         <footer >    
            
              <div class="row">
                <div class="col-sm-4">
                  <h3>MAQUILLAGE LÈVRES</h3>
                  <p>Symbole de féminité, le maquillage des lèvres réveille le makeup. Nude, rouge, ou corail, Sis' Make Up Cosmetics réunit les plus belles nuances de ROUGES À LÈVRES pour matcher avec toutes vos envies.
                       Avec son fini mat, le ROUGE À LÈVRES LIQUIDE vous offrant une couleur vibrante alors qu’un CRAYON À LÈVRES et un gloss iront avec vos looks quotidiens. 
                      Sis' Make Up Cosmetics vous dévoile ses indispensables pour une bouche belle et pulpeuse !</p>
                </div>
                <div class="col-sm-4">
                  <h3>Pinceaux</h3>
                  <p>Réalisez les plus beaux makeup avec les pinceaux  Sis' Make Up. Secret d’un teint parfait, le PINCEAU TEINT travaille la matière et la sublime pour un rendu digne d’un make-up artist.
                       Smoky eyes ou cut crease, on opte pour un PINCEAU YEUX pour une précision unique. 
                      Offrez une nouvelle dimension à vos maquillages en suivant nos TUTOS MAQUILLAGE pour maîtriser toutes les astuces de nos makeup artists.</p>
                </div>
                <div class="col-sm-4">
                  <h3>PALETTES</h3>        
                  <p>D’un teint glowy à un smoky eyes réussi, la palette maquillage Sis' Make Up révèle toute votre créativité.
                       Sa combinaison unique de couleurs sublimera votre maquillage teint d’un BRONZER ou d’un BLUSH vibrant. 
                      Avec ses possibilités infinies, la PALETTE YEUX souligne votre regard de ses couleurs uniques.
                       Look naturel ou sophistiqué, laissez parler votre créativité avec la palette parfaite.</p>
                </div>
              </div>
           
        </footer>
            
            </body>
            </html>
            